.App {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
}

.Nazareno {
  border: 2px solid rgb(8, 0, 0);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}


.top {
  background-color:  rgba(165, 221, 243, 0.925);
  display: flex;
}

.tl {
  flex: 1;
}

.tr {
  flex: 1;
  display: flex;
}

.tl > div,
.tr > div {
  border: 2px solid rgb(0, 68, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.bottom {
  display: flex;
}

.bottom {
  background-color: rgba(165, 221, 243, 0.925);
  display: flex;
}

.br {
  flex: 1;
}

.bl {
  flex: 1;
  display: flex;
}


.br > div,
.bl > div {
  border: 2px solid rgb(0, 68, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.bl > div {
  width: 50%;
}

.tr > div {
  width: 50%;
  
}